In [1]:
#import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # this is for visualization
import seaborn as sns # for visualization
%matplotlib inline
import statsmodels.formula.api as sm
import scipy, scipy.stats
import math # log function is inside this library
# this is used to get the plots inline i.e. in the same page
from collections import Counter

In [6]:
df=pd.read_csv("PL_XSELL.csv")

In [7]:
df.describe()

,TARGET,AGE,BALANCE,SCR,HOLDING_PERIOD,LEN_OF_RLTN_IN_MNTH,NO_OF_L_CR_TXNS,NO_OF_L_DR_TXNS,TOT_NO_OF_L_TXNS,NO_OF_BR_CSH_WDL_DR_TXNS,...,NO_OF_IW_CHQ_BNC_TXNS,NO_OF_OW_CHQ_BNC_TXNS,AVG_AMT_PER_ATM_TXN,AVG_AMT_PER_CSH_WDL_TXN,AVG_AMT_PER_CHQ_TXN,AVG_AMT_PER_NET_TXN,AVG_AMT_PER_MOB_TXN,FLG_HAS_NOMINEE,FLG_HAS_OLD_LOAN,random
count,20000.000000,20000.000000,2.000000e+04,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.00000,20000.000000,...,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,0.125600,38.418150,5.113622e+05,440.150300,14.955650,125.239300,12.348050,6.63370,18.97540,1.883000,...,0.042750,0.04440,7408.839731,242236.478811,25092.478384,179059.029254,20303.920406,0.901150,0.492950,0.501933
std,0.331406,9.577985,7.235930e+05,249.887582,8.642634,54.953936,12.151921,7.67583,17.75929,2.263596,...,0.203038,0.20623,7210.168619,269837.890598,49387.197536,281706.855583,46472.889982,0.298468,0.499963,0.290762
min,0.000000,21.000000,0.000000e+00,100.000000,1.000000,29.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000011
25%,0.000000,30.000000,6.475403e+04,227.000000,7.000000,79.000000,6.000000,2.00000,9.00000,1.000000,...,0.000000,0.00000,0.000000,1265.450000,0.000000,0.000000,0.000000,1.000000,0.000000,0.248187
50%,0.000000,38.000000,2.316758e+05,364.000000,15.000000,125.000000,10.000000,5.00000,14.00000,1.000000,...,0.000000,0.00000,6000.000000,147095.000000,8645.000000,0.000000,0.000000,1.000000,0.000000,0.506121
75%,0.000000,46.000000,6.538768e+05,644.000000,22.000000,172.000000,14.000000,7.00000,21.00000,2.000000,...,0.000000,0.00000,13500.000000,385000.000000,28605.000000,257699.000000,0.000000,1.000000,1.000000,0.753571
max,1.000000,55.000000,8.360431e+06,999.000000,31.000000,221.000000,75.000000,74.00000,149.00000,15.000000,...,2.000000,2.00000,25000.000000,999640.000000,537842.220000,999854.000000,199667.000000,1.000000,1.000000,0.999947

In [8]:
df.drop(['HOLDING_PERIOD','ACC_OP_DATE','LEN_OF_RLTN_IN_MNTH','NO_OF_L_CR_TXNS','NO_OF_L_DR_TXNS','CUST_ID','random','AGE'], axis=1, inplace=True)
df.drop(['NO_OF_BR_CSH_WDL_DR_TXNS','NO_OF_ATM_DR_TXNS','NO_OF_NET_DR_TXNS','NO_OF_MOB_DR_TXNS','NO_OF_CHQ_DR_TXNS','AMT_ATM_DR','AMT_BR_CSH_WDL_DR','AMT_CHQ_DR','AMT_NET_DR','AMT_MOB_DR'], axis=1, inplace=True)

In [9]:
df_new=df

dummy_var1=pd.get_dummies(df_new['GENDER'],drop_first=True)
dummy_var2=pd.get_dummies(df_new['OCCUPATION'],drop_first=True)
dummy_var3=pd.get_dummies(df_new['ACC_TYPE'],drop_first=True)
dummy_var4=pd.get_dummies(df_new['AGE_BKT'],drop_first=True)
df_new=df_new.drop(['GENDER','OCCUPATION','ACC_TYPE','AGE_BKT'],axis=1)
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 18 columns):
TARGET                     20000 non-null int64
BALANCE                    20000 non-null float64
SCR                        20000 non-null int64
TOT_NO_OF_L_TXNS           20000 non-null int64
FLG_HAS_CC                 20000 non-null int64
AMT_L_DR                   20000 non-null float64
FLG_HAS_ANY_CHGS           20000 non-null int64
AMT_OTH_BK_ATM_USG_CHGS    20000 non-null int64
AMT_MIN_BAL_NMC_CHGS       20000 non-null int64
NO_OF_IW_CHQ_BNC_TXNS      20000 non-null int64
NO_OF_OW_CHQ_BNC_TXNS      20000 non-null int64
AVG_AMT_PER_ATM_TXN        20000 non-null float64
AVG_AMT_PER_CSH_WDL_TXN    20000 non-null float64
AVG_AMT_PER_CHQ_TXN        20000 non-null float64
AVG_AMT_PER_NET_TXN        20000 non-null float64
AVG_AMT_PER_MOB_TXN        20000 non-null float64
FLG_HAS_NOMINEE            20000 non-null int64
FLG_HAS_OLD_LOAN           20000 non-null int64
dtypes: float64(7), int64(11)
memory usage: 2.7 MB

In [12]:
df_new=pd.concat([df_new,dummy_var1,dummy_var2,dummy_var3,dummy_var4],axis=1)
x=df_new[['M','O','SAL','SELF-EMP','SENP','SA','31-35','36-40','41-45','46-50','<25','>50','BALANCE','SCR','TOT_NO_OF_L_TXNS','FLG_HAS_CC','AMT_L_DR','FLG_HAS_ANY_CHGS','AMT_OTH_BK_ATM_USG_CHGS','AMT_MIN_BAL_NMC_CHGS','NO_OF_IW_CHQ_BNC_TXNS','NO_OF_OW_CHQ_BNC_TXNS','AVG_AMT_PER_ATM_TXN','AVG_AMT_PER_CSH_WDL_TXN','AVG_AMT_PER_CHQ_TXN','AVG_AMT_PER_NET_TXN','AVG_AMT_PER_MOB_TXN','FLG_HAS_NOMINEE','FLG_HAS_OLD_LOAN']]
y=df_new["TARGET"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 54 columns):
TARGET                     20000 non-null int64
BALANCE                    20000 non-null float64
SCR                        20000 non-null int64
TOT_NO_OF_L_TXNS           20000 non-null int64
FLG_HAS_CC                 20000 non-null int64
AMT_L_DR                   20000 non-null float64
FLG_HAS_ANY_CHGS           20000 non-null int64
AMT_OTH_BK_ATM_USG_CHGS    20000 non-null int64
AMT_MIN_BAL_NMC_CHGS       20000 non-null int64
NO_OF_IW_CHQ_BNC_TXNS      20000 non-null int64
NO_OF_OW_CHQ_BNC_TXNS      20000 non-null int64
AVG_AMT_PER_ATM_TXN        20000 non-null float64
AVG_AMT_PER_CSH_WDL_TXN    20000 non-null float64
AVG_AMT_PER_CHQ_TXN        20000 non-null float64
AVG_AMT_PER_NET_TXN        20000 non-null float64
AVG_AMT_PER_MOB_TXN        20000 non-null float64
FLG_HAS_NOMINEE            20000 non-null int64
FLG_HAS_OLD_LOAN           20000 non-null int64
M                          20000 non-null uint8
O                          20000 non-null uint8
SAL                        20000 non-null uint8
SELF-EMP                   20000 non-null uint8
SENP                       20000 non-null uint8
SA                         20000 non-null uint8
31-35                      20000 non-null uint8
36-40                      20000 non-null uint8
41-45                      20000 non-null uint8
46-50                      20000 non-null uint8
<25                        20000 non-null uint8
>50                        20000 non-null uint8
M                          20000 non-null uint8
O                          20000 non-null uint8
SAL                        20000 non-null uint8
SELF-EMP                   20000 non-null uint8
SENP                       20000 non-null uint8
SA                         20000 non-null uint8
31-35                      20000 non-null uint8
36-40                      20000 non-null uint8
41-45                      20000 non-null uint8
46-50                      20000 non-null uint8
<25                        20000 non-null uint8
>50                        20000 non-null uint8
M                          20000 non-null uint8
O                          20000 non-null uint8
SAL                        20000 non-null uint8
SELF-EMP                   20000 non-null uint8
SENP                       20000 non-null uint8
SA                         20000 non-null uint8
31-35                      20000 non-null uint8
36-40                      20000 non-null uint8
41-45                      20000 non-null uint8
46-50                      20000 non-null uint8
<25                        20000 non-null uint8
>50                        20000 non-null uint8
dtypes: float64(7), int64(11), uint8(36)
memory usage: 3.4 MB

In [13]:
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

/Users/rsklanu/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [14]:
from sklearn.svm import SVC
model=SVC()
model.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [16]:

model.score(x_test, y_test)

0.9635

In [19]:
y_pred=model.predict(x_test)

In [20]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[5261    0]
 [ 219  520]]
             precision    recall  f1-score   support

          0       0.96      1.00      0.98      5261
          1       1.00      0.70      0.83       739

avg / total       0.96      0.96      0.96      6000